body {
    background-repeat: no-repeat;
    background-attachment:fixed;  
    background-size: cover;
    background-position: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 12px;
    scroll-padding: 10px;
}

#img1 {
    border-radius: 100px;
}